html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #1b2947);
  background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%);
  background-attachment: fixed;
  overflow: hidden;
}

.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
}

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }

  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}

.star {
  width: 2px;
  height: 2px;
  background: #f7f7b6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
}

.img-wrap {
  width: 100%;
  height: 100vh;
  background: url(../img/xkbg.png) no-repeat left bottom;
  background-size: 100%;
  opacity: 0.5;
}

.content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .tools-list a {
  color: #fff;
  font-size: 21px;
  text-decoration: none;
}

.tools-list li {
  list-style: decimal;
  list-style-position: outside;
}
